* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  background: rgb(83, 174, 204);
  background: radial-gradient(
    circle,
    rgb(32, 169, 155) 0%,
    rgb(140, 89, 181) 100%
  );
}
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #689392;
}
.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #058d81;
  cursor: pointer;
  z-index: 1;
}
.theme-toggler.active {
  color: #210f2a;
}
.theme-toggler.active::before {
  background-color: #5a5fb3;
}
.theme-toggler::before {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #aaaaaa;
  z-index: -1;
}
#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}
#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}
button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}
button:hover {
  transform: scale(1.1);
}
button#equal {
  height: 130px;
}
/* light theme */
.calculator {
  background-color: #cbceda;
}
.calculator #display {
  color: #9575ab;
}
.calculator button#clear {
  background-color: #424934;
  color: #000000;
}
.calculator button.btn-number {
  background-color: #339989;
  color: #7de2d1;
}
.calculator button.btn-operator {
  background-color: #b6a6ca;
  color: #6a6a6a;
}
.calculator button.btn-equal {
  background-color: #19647e;
  color: #eee5e5;
}
/* dark theme */
.calculator.dark {
  background-color: #562d47ef;
}
.calculator.dark #display {
  color: #f8fafd;
}
.calculator.dark button#clear {
  background-color: #bea7af;
  color: #d5c7bc;
}
.calculator.dark button.btn-number {
  background-color: #a29ca8;
  color: #f8fafb;
}
.calculator.dark button.btn-operator {
  background-color: #324042;
  color: #c8ded5;
}
.calculator.dark button.btn-equal {
  background-color: #6d6e6d;
}